* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

#dashboard-header {
    background-color: #8cc0c7;
    color: ghostwhite;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #8cc0c7 !important;
    color: ghostwhite !important;
    max-height: 38px;
}

.card {
    padding: 5px;
    margin-bottom: 5px;
}

#search-history {
    float: left;
    justify-content: left;
}

.city-btn {
    padding: 5px;
    margin: 10px;
    display: block;
    width: 100%;
}

.uv-index {
    background: rgb(238, 79, 79);
    color: ghostwhite;
    border-radius: 5px;
}

#five-day-weather {
    display: flex;
    position: relative;
}

.display-5-day {
    background-color: #eff59c;
    border-radius: 10px;
    width: 75px;
    height: 175px;
    padding: 5px;
    margin: 10px;
    text-align: center;
    font-size: 0.9rem;
}

